{% extends 'base.html.twig' %}

{# Add background on home page only #}
{% block background %}
    <div class="bg-image-load"></div>
    <div class="bg-image"></div>
    <div class="filter"></div>
{% endblock %}

{% block content %}
    <div class="landing">
        <div>
            <img class="logo" src="{{ asset('images/pinnackl.svg') }}" alt="">
            <h1>A one place to schedule all your tasks with your family.</h1>
        </div>
        <div>
            <a class="btn btn-large" href="{{url('tasks')}}" title="Go to OK Mom">Go to OK Mom</a>
        </div>
    </div>
{% endblock %}
